body, html {
    height: 100%;
}
body {
    /*display: flex;*/
    margin: 0px;
    overflow: hidden; /*  Disable scrollbars */
    background-color: black;
}

.sliders {
    text-align: right;
    font-weight: bold;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1% 1%;
}

.slider {
    color: white;
    opacity: 0.5;
    padding: 0px 1%;
}

.slider:hover {
    opacity: 1;
}

p {
    display: inline;
}

.slider .hidden {
    opacity: 0;
}

.slider:hover .hidden {
    opacity: 1;
}

/*#textInputX {
    width:6%;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
}

#textInputY {
    width:6%;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
}

#textInputBoxes {
    width:6%;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
}*/

.textInputs {
    width:6%;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
}